/*************************************
Nick Kuehlem Portfolio Page
*************************************/
html{
/*************************************
colors
*************************************/
    --color-primary: #64C6C5;
    --color-secondary: #548584;
    --color-splash: #daa520;
    --color-blue-dark:#30384c;
    --color-black: #050609;
    --color-white: #f9f9f9;

/*************************************
gray color
*************************************/
    --color-gray-0: #D8D8D9;
    --color-gray-1: #B1B2B3;
    --color-gray-2: #8B8B8C;
    --color-gray-3: #646566;
    --color-gray-4: #3e3e40;
    --color-gray-5: #323234;
    --color-gray-6: #252527;
    
/*************************************
fonts
*************************************/

--font-ubuntu: 'Ubuntu' , sans-serif;

}

/*************************************
Typography
*************************************/
body { 
    color: var(--color-primary);
    font-family: var(--font-ubuntu);
}

.color-secondary {
    color: var(--color-secondary);
}
/*************************************
Main layout
*************************************/
body {
    background-color: var(--color-blue-dark);
}

main {
    line-height: 1.5;
    margin: auto;
    max-width: 45rem;
}



/*************************************
links
*************************************/
a, a:visited {
	color: var(--color-white);
	text-decoration: none;
}

a:hover {
    color: var(--color-white);
    text-decoration: underline;
}

a:focus {
    outline: none;
    color: var(--color-gray-2);
}

a:active {
	color: var(--color-secondary);
}

/*************************************
navigation
*************************************/
nav li {
    list-style-type: none;
    text-decoration: none;
}
nav a, nav a:visited {
    color: var(--color-primary);
    padding: 2px 1rem;
    position: relative;
    text-decoration: none;
    
}

nav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-primary);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

nav a:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }

nav a:hover {
    color: var(--color-white);
    text-decoration: none;
}

nav a:focus {
	color: var(--color-gray-2);
}

nav a:active {
	color: var(--color-gray-0);
}

nav .active {
    border: 1px solid var(--color-white);
}


@media screen and ( min-width: 600px ) {
    nav li {
        display: inline-block;
    }
    
}

@media screen and ( min-width: 900px ) {
    nav li {
        font-size: 3rem;
    }
    
}



/*************************************
hero banner & Logo
*************************************/
.logo {
    font-size: 2rem;
}
@media screen and (min-width:318px) {
    .logo {
    font-size: 3rem;
    }
}
/*************************************
Buttons
*************************************/

/*************************************
cards
*************************************/

/*************************************
footer
*************************************/