/*************************************
Nick Kuehlem Portfolio Page
*************************************/
html{
/*************************************
colors
*************************************/
    --color-primary: #64C6C5;
    --color-secondary: #548584;
    --color-splash: rgb(218, 165, 32);
    --color-blue-dark:#30384c;
    --color-black: #050609;
    --color-white: #f9f9f9;

/*************************************
gray color
*************************************/
    --color-gray-0: #D8D8D9;
    --color-gray-1: #B1B2B3;
    --color-gray-2: #8B8B8C;
    --color-gray-3: #646566;
    --color-gray-4: #3e3e40;
    --color-gray-5: #323234;
    --color-gray-6: #252527;
    
/*************************************
fonts
*************************************/

--font-ubuntu: 'Ubuntu' , sans-serif;

}

/*************************************
Typography
*************************************/
body { 
    color: var(--color-primary);
    font-family: var(--font-ubuntu);
}

.color-secondary {
    color: var(--color-secondary);
}

h1{
    font-size: 2rem;
}

h2{
    text-align: center;
    font-size: 1.8rem;

}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.4rem;
}

h5{
    font-size: 1.2rem;
}

h6{
    font-size: 1.1rem;
}
/*************************************
Main layout
*************************************/

body {
    background-color: var(--color-blue-dark);
}

main {
    line-height: 1.5;
    margin: auto;
    margin-top: 5rem;
    max-width: 45rem;
}
main p {
    margin-bottom: 2rem;
}


/****
hr {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    border: 0;
    height: 1px;
        
}
****/
/*************************************
header
*************************************/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

/*************************************
links
*************************************/
a, a:visited {
	color: var(--color-white);
	text-decoration: none;
}

a:hover {
    color: var(--color-white);
    text-decoration: underline;
}

a:focus {
    color: var(--color-gray-2);
    outline: none;
    
}

a:active {
	color: var(--color-secondary);
}

/*************************************
navigation
*************************************/

nav li {
    list-style-type: none;
    text-decoration: none;
}
nav a, nav a:visited {
    color: var(--color-primary);
    padding: 2px 1rem;
    position: relative;
    text-decoration: none;
    
}

nav a:before {
    background-color: var(--color-primary);
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
    width: 100%;
    visibility: hidden;
}

nav a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

nav a:hover {
    color: var(--color-white);
    text-decoration: none;
}

nav a:focus {
	color: var(--color-gray-2);
}

nav a:active {
	color: var(--color-gray-0);
}

nav .active {
    border: 1px solid var(--color-white);
}


@media screen and ( min-width: 600px ) {
    header li {
        display: inline-block;
    }
    
}

@media screen and ( min-width: 900px ) {
    header li {
        font-size: 3rem;
    }
    
}

/*************************************
Keystone animations
*************************************/
.pulse-animation {

    cursor: pointer;
}
  
  .pulse-animation:hover {
    animation: pulse 2s infinite;
}
  
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }
    70% {
      box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}
/*************************************
hero banner & Logo
*************************************/
.logo {
    font-size: 2rem;
    opacity: 1;
    text-align: center;
    
}
.hero {
    align-items: center;
    background: linear-gradient(135deg, rgba(48,56,76,1) 0%, rgba(0,212,255,1) 100%);
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    height: 40rem;
    justify-content: space-evenly ;
    min-height: 50%;
    margin: auto;
    padding: 4rem;
}



@media screen and (min-width:318px) {
    .logo {
    font-size: 3rem;
    }
}

h1 {
    font-weight: 700 ;
}
/*************************************
Buttons
*************************************/
.normal-button-link, .normal-button-link:visited {
    text-align: center;
	background: var(--color-gray-4); background: rgba(255, 255, 255, 0.2);
    border: 4px solid;
    border-radius: 9px;
    font-size: 1.5rem;
    max-height: 4rem;
    max-width: 30rem;
    padding: 1rem;
    
}

.normal-button-link:hover  {
	color: var(--color-secondary);
	background-color: var(--color-primary);
}

.normal-button-link:active{
 	background-color: var(--color-splash);
 	border: double;
	border-color: var(--color-white);
}
/*************************************
cards
*************************************/
.container-contact {
    align-content: center;
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-0);
    box-shadow: 8px 8px var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 35rem;
    padding: 1rem;

}

.container-contact a, .containter-contact a:visited {
    color: var(--color-blue-dark);
}

.container-contact a:hover {
    color: var(--color-splash);
}

.container-resume {
    background-color: var(--color-gray-4);
    border: 1px solid var(--color-gray-5);
    box-shadow: 8px 8px 5px var(--color-primary);
    max-width: 35rem;
    padding: 1rem;
}

.container-resume:hover {
    box-shadow: 8px 8px var(--color-primary);

}

/*************************************
grid
*************************************/
.grid {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-gap: 2rem;
    justify-items: center;
}

.grid img{
    max-width: 15rem;
}

.grid img:hover {
    transform: scale(1.5);
}

/*************************************
images
*************************************/

.large-img {
    height: auto;
    width: 100%;
    max-width: 45rem;
}
/*************************************
footer
*************************************/

footer {
    text-align: center;

}