/*************************************
Nick Kuehlem Portfolio Page
*************************************/
html{
/*************************************
colors
*************************************/
    --color-primary: #6fffe9;
    --color-secondary: #5bc0be;
    --color-black: #050609;
    --color-white: #f9f9f9;
/*************************************
text color
*************************************/

/*************************************
gray color
*************************************/
    --color-gray-lighter1: #E1E1E1;
    --color-gray: #3e3e40;
/*************************************
fonts
*************************************/
--font-lato: 'Lato' , sans-serif;
--font-ubuntu: 'Ubuntu' , sans-serif;
--font-abel:'Abel', sans-serif;

}

/*************************************
Typography
*************************************/
body {
    font-family: var(--font-lato);
    color: var(--color-primary);
}

.lato {
    font-family: var(--font-lato);
}

.ubuntu {
    font-family: var(--font-ubuntu);
}

.abel {
    font-family: var(--font-abel);
}

.color-secondary {
    color: var(--color-secondary);
}
/*************************************
Main layout
*************************************/
body {
    background-color: var(--color-gray);
}

main {
    line-height: 1.5;
    margin: auto;
    max-width: 45rem;
}
.box {
    color: var(--color-secondary);
    background-color: var(--color-white);
}
/*************************************
links
*************************************/

/*************************************
navigation
*************************************/

/*************************************
hero banner
*************************************/

/*************************************
Buttons
*************************************/

/*************************************
cards
*************************************/

/*************************************
footer
*************************************/